<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated KAMP4APSFieldofactivityannotations -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.kit.ipd.sdq.kamp4aps.model.fieldofactivityannotations.presentation.KAMP4aPSFieldofactivityannotationsModelWizardID"
            name="%_UI_KAMP4aPSFieldofactivityannotationsModelWizard_label"
            class="edu.kit.ipd.sdq.kamp4aps.model.fieldofactivityannotations.presentation.KAMP4aPSFieldofactivityannotationsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/KAMP4aPSFieldofactivityannotationsModelFile.gif">
         <description>%_UI_KAMP4aPSFieldofactivityannotationsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated KAMP4APSFieldofactivityannotations -->
      <editor
            id="edu.kit.ipd.sdq.kamp4aps.model.fieldofactivityannotations.presentation.KAMP4aPSFieldofactivityannotationsEditorID"
            name="%_UI_KAMP4aPSFieldofactivityannotationsEditor_label"
            icon="icons/full/obj16/KAMP4aPSFieldofactivityannotationsModelFile.gif"
            extensions="fieldofactivityannotations"
            class="edu.kit.ipd.sdq.kamp4aps.model.fieldofactivityannotations.presentation.KAMP4aPSFieldofactivityannotationsEditor"
            contributorClass="edu.kit.ipd.sdq.kamp4aps.model.fieldofactivityannotations.presentation.KAMP4aPSFieldofactivityannotationsActionBarContributor">
      </editor>
   </extension>

</plugin>
