<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated KAMP4aPSModificationmarks -->
      <factory
            uri="http://sdq.ipd.kit.edu/KAMP4aPSModificationmarks/1.0"
            class="edu.kit.ipd.sdq.kamp4aps.model.KAMP4aPSModificationmarks.provider.KAMP4aPSModificationmarksItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

</plugin>
