<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Fieldofactivityannotations -->
      <package
            uri="http://sdq.ipd.kit.edu/KAPSFieldofactivityannotations/0.1"
            class="fieldofactivityannotations.FieldofactivityannotationsPackage"
            genModel="model/Fieldofactivityannotations.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated KAMP4APSFieldofactivityannotations -->
      <package
            uri="http://sdq.ipd.kit.edu/KAPSFieldofactivityannotations/0.1"
            class="edu.kit.ipd.sdq.kamp4aps.model.fieldofactivityannotations.KAMP4aPSFieldofactivityannotationsPackage"
            genModel="model/KAMP4APSFieldofactivityannotations.genmodel"/>
   </extension>

</plugin>
