<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <requires>
      <import plugin="xPPU" version="1.0.0"/>
      <import plugin="xPPU.edit" version="1.0.0"/>
      <import plugin="xPPU.editor" version="1.0.0"/>
   </requires>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated deploymentcontext -->
      <package
            uri="http://sdq.ipd.kit.edu/KAPS_DeploymentContext/0.1"
            class="edu.kit.ipd.sdq.kamp4aps.model.DeploymentContext.DeploymentContextPackage"
            genModel="model/deploymentcontext.genmodel"/>
   </extension>

</plugin>
