<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ComponentInternalDependencies -->
      <package
            uri="http://sdq.ipd.kit.edu/ComponentInternalDependencies"
            class="edu.kit.ipd.sdq.kamp4iec.model.ComponentInternalDependencies.ComponentInternalDependenciesPackage"
            genModel="model/ComponentInternalDependencies.genmodel"/>
   </extension>

</plugin>
