<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated deploymentcontext -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.kit.ipd.sdq.kamp4aps.model.DeploymentContext.presentation.DeploymentContextModelWizardID"
            name="%_UI_DeploymentContextModelWizard_label"
            class="edu.kit.ipd.sdq.kamp4aps.model.DeploymentContext.presentation.DeploymentContextModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DeploymentContextModelFile.gif">
         <description>%_UI_DeploymentContextModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated deploymentcontext -->
      <editor
            id="edu.kit.ipd.sdq.kamp4aps.model.DeploymentContext.presentation.DeploymentContextEditorID"
            name="%_UI_DeploymentContextEditor_label"
            icon="icons/full/obj16/DeploymentContextModelFile.gif"
            extensions="deploymentcontext"
            class="edu.kit.ipd.sdq.kamp4aps.model.DeploymentContext.presentation.DeploymentContextEditor"
            contributorClass="edu.kit.ipd.sdq.kamp4aps.model.DeploymentContext.presentation.DeploymentContextActionBarContributor">
      </editor>
   </extension>

</plugin>
