<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated xppu -->
      <package
            uri="edu.kit.ipd.sdq.kaps.xppu"
            class="xPPU.XPPUPackage"
            genModel="model/xPPU.old.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated xppu -->
      <package
            uri="edu.kit.ipd.sdq.kaps.xppu.componentrepository"
            class="xPPU.ComponentRepository.ComponentRepositoryPackage"
            genModel="model/xPPU.old.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated xppu -->
      <package
            uri="edu.kit.ipd.sdq.kaps.xppu.buscomponents"
            class="xPPU.BusComponents.BusComponentsPackage"
            genModel="model/xPPU.old.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated xppu -->
      <package
            uri="edu.kit.ipd.sdq.kaps.xppu.electroniccomponents"
            class="xPPU.ElectronicComponents.ElectronicComponentsPackage"
            genModel="model/xPPU.old.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated xppu -->
      <package
            uri="edu.kit.ipd.sdq.kaps.xppu.mechanicalcomponents"
            class="xPPU.MechanicalComponents.MechanicalComponentsPackage"
            genModel="model/xPPU.old.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated xppu -->
      <package
            uri="edu.kit.ipd.sdq.kaps.xppu.structurerepository"
            class="xPPU.StructureRepository.StructureRepositoryPackage"
            genModel="model/xPPU.old.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated xppu -->
      <package
            uri="edu.kit.ipd.sdq.kaps.xppu.modulerepository"
            class="xPPU.ModuleRepository.ModuleRepositoryPackage"
            genModel="model/xPPU.old.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated xppu -->
      <package
            uri="edu.kit.ipd.sdq.kaps.xppu.interfacerepository"
            class="xPPU.InterfaceRepository.InterfaceRepositoryPackage"
            genModel="model/xPPU.old.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated xppu -->
      <package
            uri="edu.kit.ipd.sdq.kaps.xppu.identifier"
            class="xPPU.Identifier.IdentifierPackage"
            genModel="model/xPPU.old.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated aps -->
      <package
            uri="edu.kit.ipd.sdq.kamp4aps.aps"
            class="edu.kit.ipd.sdq.kamp4aps.model.aPS.apsPackage"
            genModel="model/aps.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated aps -->
      <package
            uri="edu.kit.ipd.sdq.kaps.xppu.componentrepository"
            class="edu.kit.ipd.sdq.kamp4aps.model.aPS.ComponentRepository.ComponentRepositoryPackage"
            genModel="model/aps.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated aps -->
      <package
            uri="edu.kit.ipd.sdq.kaps.xppu.buscomponents"
            class="edu.kit.ipd.sdq.kamp4aps.model.aPS.BusComponents.BusComponentsPackage"
            genModel="model/aps.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated aps -->
      <package
            uri="edu.kit.ipd.sdq.kaps.xppu.electroniccomponents"
            class="edu.kit.ipd.sdq.kamp4aps.model.aPS.ElectronicComponents.ElectronicComponentsPackage"
            genModel="model/aps.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated aps -->
      <package
            uri="edu.kit.ipd.sdq.kaps.xppu.mechanicalcomponents"
            class="edu.kit.ipd.sdq.kamp4aps.model.aPS.MechanicalComponents.MechanicalComponentsPackage"
            genModel="model/aps.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated aps -->
      <package
            uri="edu.kit.ipd.sdq.kaps.xppu.structurerepository"
            class="edu.kit.ipd.sdq.kamp4aps.model.aPS.StructureRepository.StructureRepositoryPackage"
            genModel="model/aps.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated aps -->
      <package
            uri="edu.kit.ipd.sdq.kaps.xppu.modulerepository"
            class="edu.kit.ipd.sdq.kamp4aps.model.aPS.ModuleRepository.ModuleRepositoryPackage"
            genModel="model/aps.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated aps -->
      <package
            uri="edu.kit.ipd.sdq.kaps.xppu.interfacerepository"
            class="edu.kit.ipd.sdq.kamp4aps.model.aPS.InterfaceRepository.InterfaceRepositoryPackage"
            genModel="model/aps.genmodel"/>
   </extension>

</plugin>
